img {
  max-width: 100%;
  display: block;
}

.introducao-img img {
  height: 100%;
  object-fit: cover;
}

.introducao-bg {
  background: var(--c12);
  color: var(--c0);
  box-shadow: inset 0px -120px #fff;
}

.introducao-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-texto {
  align-self: end;
  padding-bottom: 200px;
}

.introducao-content h1 {
  margin-bottom: 32px;
}

.introducao-content h1 span {
  color: var(--p1);
}

.introducao-content p {
  margin-bottom: 20px;
  color: var(--c5);
}

@media (max-width: 800px) {
  .introducao-bg {
    background: var(--c11);
    padding-top: 40px;
    box-shadow: inset 0 -60px var(-c11);
  }

  .introducao-content h1 {
    margin-bottom: 16px;
  }

  .introducao-content {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .introducao-texto {
    padding-bottom: 0px;
  }

  .introducao-img img {
    height: 300px;
    width: 100%;
  }
}
