#orcamento {
  background: linear-gradient(var(--c11) 600px, var(--c1) 0px);
}
.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  color: var(--c5);
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background: var(--p1);
  position: absolute;
  left: -12px;
}

.orcamento-conteudo h2 {
  color: var(--c5);
}

.orcamento-conteudo {
  padding: 20px;
  background: #222;
  margin: 20px 0px;
  
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: block;
}

.orcamento-dados h2 {
  color: var(--c9);
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-dados {
  border-radius: 0 5px 5px 0;
  background: var(--c0);
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  background: var(--c12);
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-content: start;
  gap: 20px;
}

.orcamento-produto > * {
  grid-column: 1 / -1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
 color: var(--c4);
 background: var(--c10);
}
