.bicicleta-conteudo p{
  color: var(--c8);
  font-weight: 500;
}

.bicicletas span{
  color: var(--c0);
}

.bicicleta-conteudo-2 p,
.bicicleta-conteudo-2 ul{
  color: var(--c5);
}

.bicicleta-conteudo-2 h2{
  color: var(--c0);
}

.bicicleta-bg{
  background: linear-gradient(to right, var(--c0) 30%, var(--c11) 30%);
}

.bicicletas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicleta-img{
display: grid;
}

.bicicleta-img img{
grid-area: 1/1;

}

.bicicleta-img span{
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  border-radius: 4px 0px 0px 4px;
  background: var(--c12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
}

.bicicleta-conteudo,
.bicicleta-conteudo-2{
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas h2,
.bicicletas p{
  grid-column: 1/-1;
}

.bicicletas h2{
  margin-bottom: 20px;
}

.bicicletas h2::before{
  content: '';
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  margin-bottom: 8px;
}

.bicicletas p{
  margin-bottom: 32px;
}

.bicicletas a{
  place-self: end;
}

.bicicletas li{
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicletas li + li{
  margin-top: 16px;
}

.bicicleta-conteudo img,
.bicicleta-conteudo-2 img{
  width: 24px;
}

@media(max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bicicleta-bg{
    background: var(--c11);
  }
}

@media(max-width: 600px) {
  .bicicleta-conteudo,
  .bicicleta-conteudo-2{
    grid-template-columns: 1fr;
  }

  .bicicletas ul{
    font-size: 1rem;
    margin-bottom: 32px;
  }

  .bicicletas a{
    place-self: start;
  }
}